# Core functionality - changes here should be rare!
/src/app.py                   @heinhtetwin
/src/backend/database.py      @heinhtetwin
/src/backend/routers/auth.py  @heinhtetwin

# The frontend will need refactored soon to be more object oriented.
/src/static/   @heinhtetwin